@model Deneme01.Models.Musteri

@{
    ViewBag.Title = "Müşteri Sil";
    Layout = "~/Views/Shared/_LayoutNavBar.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>Müşteri Sil</title>
</head>
<body>
    <h2>Müşteri Sil</h2>

    <p>Gerçekten bu Müşteriyi silmek istiyor musunuz?</p>

    @using (Html.BeginForm("MusteriSilOnay", "Musteri", new { id = Model.MusteriID }, FormMethod.Post))
    {
        <button type="submit" class="btn btn-warning" style="margin-right:20px; block-size:40px; font-size:15px;">Sil</button>
        <a href="@Url.Action("MusteriListele", "Musteri")" class="btn btn-secondary" style="font-size:16px"><b>İptal</b></a>
    }
</body>
</html>